[Desktop Entry]
Version=1.0
Type=Application
Name=btop
GenericName=System Monitor
Exec=btop
Icon=btop
Terminal=true
Categories=System;Monitor;
Keywords=system;process;task;cpu;memory;