[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox
Exec=/opt/firefox/firefox %u
Icon=firefox
Terminal=false
StartupNotify=true
Categories=Network;WebBrowser;
Keywords=web;browser;internet;